body{
  font-family: sans-serif;
  padding-left: 20%;
  padding-right: 20%;
}
h1{
  text-align: center;
}
label{
  font-size: 18px;
  display: block;
  padding-bottom: 10px;
}

  #description {
    font-style: italic;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    text-align: center;
  }


.input-radio{
  display: inline-block;
}

.input-checkbox{
  display: inline-block;
}

input{
  display: block;
  width: 100%;



}

select{
  width: 100%;
}

form{
  background-color: #cc6699;
  padding: 20px;
  border-radius: 20px;

}

#submit{
  width: 20%;
  background-color: green;
  color: white;
  font-weight: bold;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

#comment{
  width: 100%;
}
